.container {
    align-items: center;
    color: white;
    padding-left: 6rem;
    padding-top: 4rem;
}

.header {
    padding-bottom: 2rem;
}

.description {
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.keywords {
    color: #bc6d6d;
}